<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC Building Guide</title>
    <link rel="stylesheet" href="../styles.css">
    
</head>
<body>
    <header class="header">
        <h1>PC Informational Guide</h1>
    </header>

    <nav class="navbar">
        <a href="../index.html">Home</a>
        <a href="https://www.pcmag.com/news" target="_blank">News</a>
        <div class="dropdown">
            <button class="dropbtn">PC Parts Information <i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a href="/components/cpu-info.html">CPU</a>
                <a href="/components/cpu-cooler-info.html">Cooler</a>
                <a href="/components/gpu-info.html">GPU</a>
                <a href="/components/ram-info.html">RAM</a>
                <a href="/components/mobo-info.html">Motherboard</a>
                <a href="/components/ps-info.html">Power Supply</a>
                <a href="/components/case-info.html">Case</a>
                <a href="/components/storage-info.html">Storage</a>
                

            </div>
        </div>
    </nav>


    <main class="content">
       
        <div class="container">
            <h1>All About The CPU</h1>
            <div class="image-container">
                <img src="/images/cpu/Intel CPU.jpg" alt="Intel">
                <img src="/images/cpu/AMD CPU.jpg" alt="AMD">
            </div>
            <p>The CPU (Central Processing Unit) is often referred to as the "brain" of a computer. It's a crucial component responsible for executing instructions and performing calculations.</p>
            <p>Modern CPUs are highly complex and come in various types, such as Intel Core series and AMD Ryzen series. They consist of multiple cores, each capable of executing instructions independently.</p>
            <p>CPU performance is measured in terms of clock speed, typically in gigahertz (GHz), and the number of cores. Higher clock speeds and more cores generally result in better performance.</p>
            <p>CPUs interact with other components of the computer, such as RAM (Random Access Memory) and storage devices, to process data and run programs efficiently.</p>
            <p>Understanding the CPU is essential for anyone interested in computer hardware or seeking to optimize the performance of their PC.</p>
        <br>

         <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/I_jjtYEVXXU?si=fHQxvVpWDwZjwFbW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/UTKxMAnFHnw?si=Qsa3ht7i1pkdW1XB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        
    </main>

        
    









    <footer class="footer">
        <p>© 2024 Guide on Building PCs. All rights reserved.</p>
    </footer>
</body>
</html>