<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC Building Guide</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <header class="header">
        <h1>Guide On How To Build A PC</h1>
    </header>

    <nav class="navbar">
        <a href="../index.html">Home</a>
        <a href="https://www.pcmag.com/news">News</a>
        <div class="dropdown">
            <button class="dropbtn">PC Parts Information <i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a href="/components/cpu-info.html">CPU</a>
                <a href="/components/cpu-cooler-info.html">Cooler</a>
                <a href="/components/gpu-info.html">GPU</a>
                <a href="/components/ram-info.html">RAM</a>
                <a href="/components/mobo-info.html">Motherboard</a>
                <a href="/components/ps-info.html">Power Supply</a>
                <a href="/components/case-info.html">Case</a>
                <a href="/components/storage-info.html">Storage</a>

            </div>
        </div>
    </nav>

        <main class="content">
            <div class="container">
                <h1> All About CPU Coolers </h1>
                <div class="image-container">
                    <img src="/images/cpu cooler/Air Cooler.jpg" alt="Air Cooler">
                    <img src="/images/cpu cooler/Liquid Cooler.avif" alt="Liquid Cooler">
                
                </div>
                <p>A CPU cooler is a device designed to dissipate heat away from the CPU to prevent it from overheating. It consists of a heatsink and a fan or multiple fans.</p>
                <p>There are several types of CPU coolers available:</p>
                <ul>
                    <li>Air CPU coolers: These use a combination of metal heatsinks and fans to cool the CPU.</li>
                    <li>Liquid CPU coolers: These use a closed-loop system containing coolant to transfer heat away from the CPU to a radiator, where it is dissipated by fans. These also come in a variety of sizes for whichever best fits your case size/needs.</li>
                    <li>Low-profile CPU coolers: These are designed for small form factor (SFF) PCs where space is limited.</li>
                </ul>
                <p>The choice of CPU cooler depends on factors such as CPU compatibility, case size, cooling performance, and noise level.</p>
                <p>Proper cooling is essential for maintaining CPU performance and longevity, especially during demanding tasks such as gaming or video editing.</p>

                
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Ycc5gVG56oo?si=nuiIx3n92LgrIKwE&amp;start=45" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/OnIIuHbNTDg?si=zqbrDLwu77XBD9GT&amp;start=45" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                 </div>
            </div>
        

    </main>

    <footer class="footer">
        <p>© 2024 Guide on Building PCs. All rights reserved.</p>
    </footer>
</body>
</html>
