<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPU Information Guide</title>
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <header class="header">
        <h1>PC Building Guide</h1>
    </header>

    <nav class="navbar">
        <a href="../index.html">Home</a>
        <a href="https://www.pcmag.com/news" target="_blank">Tech News</a>
        <div class="dropdown">
            <button class="dropbtn">PC Parts Information <i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a href="cpu-info.html">CPU</a>
                <a href="cpu-cooler-info.html">CPU Cooler</a>
                <a href="gpu-info.html">GPU</a>
                <a href="ram-info.html">RAM</a>
                <a href="mobo-info.html">Motherboard</a>
                <a href="ps-info.html">Power Supply</a>
                <a href="storage-info.html">Storage</a>
                <a href="case-info.html">Case</a>
                <a href="case-fans-info.html">Fans</a>



            </div>
        </div>
    </nav>

    <main class="content">
        <div class="container">

            <h2>All About GPU's</h2>

            <div class="image-container">
                <img class="gpu" src="../images/gpu/rx 7900xtx.jpg" alt="amd gpu">
                <img class="gpu" src="../images/gpu/Nvidia-RTX-4090.png" alt="nvidia gpu">
            </div>


            <p>A Graphics Processing Unit (GPU), also known as a video card or graphics card, is responsible for
                rendering images, videos, and animations. It significantly impacts the quality and performance of
                graphics in games and applications.</p>

            <h3>Main Functions of a GPU</h3>
            <ul>
                <li><strong>Rendering Graphics:</strong> Converts data into images, videos, and animations for display
                    on your screen.</li>
                <li><strong>Parallel Processing:</strong> Handles multiple operations simultaneously, essential for
                    tasks like gaming, video editing, and scientific computations.</li>
                <li><strong>Offloading Work from the CPU:</strong> Takes over graphical computations, freeing up the CPU
                    for other tasks.</li>
                <li><strong>Enhancing Visual Quality:</strong> Improves image quality and performance in games and
                    professional applications.</li>
            </ul>

            <h3>Key Features to Consider</h3>
            <ul>
                <li><strong>VRAM (Video RAM):</strong> Determines how much graphical data can be stored, impacting
                    performance at higher resolutions and textures.</li>
                <li><strong>GPU Architecture:</strong> Newer architectures offer improved performance and efficiency.
                </li>
                <li><strong>Clock Speed:</strong> Higher clock speeds indicate faster processing capabilities.</li>
                <li><strong>CUDA Cores/Stream Processors:</strong> More cores generally result in better performance.
                </li>
                <li><strong>Benchmarks:</strong> Check performance comparisons from trusted sources for real-world
                    performance.</li>
            </ul>


            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/YVbjl69z3HE?si=x6ZXERS_G3sfJw6Z"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>


    </main>

    <footer class="footer">
        <p>© 2024 Guide on Building PCs. All rights reserved.</p>
    </footer>
</body>

</html>