<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC Building Guide</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <header class="header">
        <h1>PC Informational Guide</h1>
    </header>

    <nav class="navbar">
        <a href="index.html">Home</a>
        <a href="https://www.pcmag.com/news" target="_blank">News</a>
        <div class="dropdown">
            <button class="dropbtn">PC Parts Information <i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a href="components/cpu-info.html">CPU</a>
                <a href="components/cpu-cooler-info.html">Cooler</a>
                <a href="components/gpu-info.html">GPU</a>
                <a href="components/ram-info.html">RAM</a>
                <a href="components/mobo-info.html">Motherboard</a>
                <a href="components/ps-info.html">Power Supply</a>
                <a href="components/storage-info.html">Storage</a>
                <a href="components/case-info.html">Case</a>
                <a href="components/case-fans-info.html">Fans</a>
                
                

            </div>
        </div>
    </nav>

    <main class="content">
        <div class="container">
            
                <h2>All About GPU's</h2>

            <div class="image-container">
                <img class="gpu" src="../images/gpu/AMD-Radeon-RX-7900-XTX.webp" alt="amd gpu">
                <img class="gpu" src="../images/gpu/nvidia rtx 5090.jpg" alt="nvidia gpu">
            </div>
            
            
            <p>A Graphics Processing Unit (GPU), also known as a video card or graphics card, is responsible for rendering images, videos, and animations. It impacts the quality and performance of graphics in games and applications.</p>
            <h3>What is a GPU Used For?</h3>
        <ul>
            <li>Gaming: Enhances visual quality and performance.</li>
            <li>Professional Work: Supports 3D modeling, video editing, and animation.</li>
            <li>AI and Machine Learning: Optimized for parallel processing.</li>
            <li>Everyday Use: Improves web browsing, video playback, and application performance.</li>
        </ul>
        <h3>Main Components of a GPU</h3> 
        <ul>
            <li> GPU (Graphics Processing Unit):</strong> Core component for rendering graphics.</li>
            <li>VRAM (Video RAM): Dedicated memory for graphical data.</li>
            <li>Cooling System: Keeps the GPU cool.</li>
            <li>Power Connectors: Supplies additional power.</li>
            <li>Display Outputs: Connects to monitors (e.g., HDMI, DisplayPort).</li>
        </ul>
        <h3>Types of GPUs</h3>
        <ul>
            <li>Integrated Graphics Card: Built into the CPU, shares system memory. Suitable for basic tasks.</li>
            <li>Dedicated Graphics Card: Separate from the CPU, has its own GPU and VRAM. Ideal for gaming and professional work.</li>
        </ul>
        <h3>How to Tell if a GPU has Good Specs</h3>
        <ul>
            <li>VRAM: More VRAM handles higher resolutions and detailed textures.</li>
            <li>GPU Architecture Newer architectures offer better performance and efficiency.</li>
            <li>Clock Speed: Higher speeds indicate faster processing.</li>
            <li>CUD Stream Processors: More cores generally lead to better performance.</li>
            <li>Benchmarks: Check performance comparisons from trusted sources.</li>
            
        </ul>
        
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/YVbjl69z3HE?si=x6ZXERS_G3sfJw6Z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
    </div>          
            
        
    </main>

    <footer class="footer">
        <p>© 2024 Guide on Building PCs. All rights reserved.</p>
    </footer>
</body>
</html>