<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <header class="header">
        <h1>Power Supply Information </h1>
    </header>

    <nav class="navbar">
        <a href="index.html">Home</a>
        <a href="https://www.pcmag.com/news" target="_blank">News</a>
        <div class="dropdown">
            <button class="dropbtn">PC Parts Information <i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a href="components/cpu-info.html">CPU</a>
                <a href="components/cpu-cooler-info.html">Cooler</a>
                <a href="components/gpu-info.html">GPU</a>
                <a href="components/ram-info.html">RAM</a>
                <a href="components/mobo-info.html">Motherboard</a>
                <a href="components/ps-info.html">Power Supply</a>
                <a href="components/case-info.html">Case</a>
                <a href="components/storage-info.html">Storage</a>
                

            </div>
        </div>
    </nav>

    <main class="content">
        <div class="container">
            Some text about the psu.
        </div>
    </main>

    <footer class="footer">
        <p>© 2024 Guide on Building PCs. All rights reserved.</p>
    </footer>
</body>
</html>