<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory Information Guide</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <header class="header">
        <h1>PC Building Guide</h1>
    </header>

    <nav class="navbar">
        <a href="../index.html">Home</a>
        <a href="https://www.pcmag.com/news" target="_blank">News</a>
        <div class="dropdown">
            <button class="dropbtn">PC Parts Information <i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a href="cpu-info.html">CPU</a>
                <a href="cpu-cooler-info.html">CPU Cooler</a>
                <a href="gpu-info.html">GPU</a>
                <a href="ram-info.html">RAM</a>
                <a href="mobo-info.html">Motherboard</a>
                <a href="ps-info.html">Power Supply</a>
                <a href="storage-info.html">Storage</a>
                <a href="case-info.html">Case</a>
                <a href="case-fans-info.html">Fans</a>
                
                

            </div>
        </div>
    </nav>

    <main class="content">
        <div class="container">
            Some text about the ram.
        </div>
    </main>

    <footer class="footer">
        <p>© 2024 Guide on Building PCs. All rights reserved.</p>
    </footer>
</body>
</html>